<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= Finance.show_member(@finance) %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @finance.amount %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
