<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <%# table column titles %>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <%# For each of the members show their date and location and give the option to show edit or destroy %>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Get Points', event, notice: 'Points were successfully granted.' %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button> <%# Creates a button%>
<b>
<%= link_to 'New Event', new_event_path %>
</b>
</button>