<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%@current_member ||= Member.find_by_token(cookies[:token]) if cookies[:token]%>
<% if @current_member && @current_member.access_type == 1 %> 
  <%= link_to 'Edit', edit_event_path(@event) %> |
<%else%>
<%#! Else should be empty be default %>
<%end%>

<%= link_to 'Back', events_path %>





