<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <%# Table column titles %>
      <th>Name</th>
      <th>Email</th>
      <th>Token</th>
      <th>Access type</th>
      <th>Paid status</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# for each of the members how their name, email, token, access type, paid status, and points and give the option to show edit or destroy %>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.token %></td>
        <td><%= member.access_type %></td>
        <td><%= member.paid_status %></td>
        <td><%= member.points %></td>
        
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button> <%# Creates a button%>
<b>
<%= link_to 'Create a New Member', new_member_path %> <%# Create a new member button %>
</b>
</button>

