<p id="notice"><%= notice %></p>

<%@current_member ||= Member.find_by_token(cookies[:token]) if cookies[:token]%>

<button> <%# Creates a button%>
<b>
  <%= link_to 'Events', events_path %> <%# Create a new member button %>
</b>
</button>

<% if @current_member && @current_member.access_type == 1 %> 
  <button> <%# Creates a button%>
  <b>
    <%= link_to 'Finances', finances_path %> <%# Create a new member button %>
  </b>
  </button>
<%end%>

<% if @current_member && @current_member.access_type == 1 %> 
  <button> <%# Creates a button%>
  <b>
    <%= link_to 'Attendances', attendances_path %> <%# Create a new member button %>
  </b>
  </button>
<%end%>

<br>
<br>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Token:</strong>
  <%= @member.token %>
</p>

<p>
  <strong>Access type:</strong>
  <%= @member.access_type %>
</p>

<p>
  <strong>Paid status:</strong>
  <%= @member.paid_status %>
</p>

<p>
  <strong>Points:</strong>
  <%= @member.points %>
</p>

<%@current_member ||= Member.find_by_token(cookies[:token]) if cookies[:token]%>

<% if @current_member && @current_member.access_type == 1 %> <%#! Change to 0 if needed%>
  <%= link_to 'Edit', edit_member_path(@member) %> |
<%end%>

<% if @current_member && @current_member.access_type == 1 %> 
  <%= link_to 'Back', members_path %>
<%else%>
  <%= link_to 'Back', root_path %>
<%end%>