<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Token:</strong>
  <%= @member.token %>
</p>

<p>
  <strong>Access type:</strong>
  <%= @member.access_type %>
</p>

<p>
  <strong>Paid status:</strong>
  <%= @member.paid_status %>
</p>

<p>
  <strong>Points:</strong>
  <%= @member.points %>
</p>

<%@current_member ||= Member.find_by_token(cookies[:token]) if cookies[:token]%>
  <% if @current_member && @current_member.access_type == 1 %> 
    <%= link_to 'Edit', edit_member_path(@member) %> |
  <%else%>
  <%#! Else should be empty be default %>
  <%end%>
<%= link_to 'Back', members_path %>
